#root {
  margin: 0;
  padding: 0;
}

#lensBgDashed {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px dashed rgb(57, 57, 57);
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

#lensBg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 18px solid rgb(57, 57, 57);
  border-radius: 50%;
  width: 465px;
  height: 465px;
}
#lens1layer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(171, 171, 171);
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
#lens2layer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 30px solid rgb(39, 33, 51);
  border-radius: 50%;
  width: 420px;
  height: 390px;
}
#lens3layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px double rgb(52, 52, 54);
  border-radius: 50%;
  width: 365px;
  height: 365px;
}

#lens4layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(46, 38, 60);
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
#lens5layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px double rgb(171, 171, 171);
  border-radius: 50%;
  width: 290px;
  height: 290px;
}
#lens6layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(87, 83, 123),
    rgb(33, 27, 42),
    rgb(87, 83, 123)
  );
  border-radius: 50%;
  width: 290px;
  height: 290px;
}

#lens7layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 20px solid rgb(25, 25, 25);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#lens8layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top right,
    rgb(15, 14, 17),
    rgb(46, 45, 57),
    rgb(15, 14, 17)
  );
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#lens9layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(118, 118, 118);
  border-radius: 50%;
  width: 165px;
  height: 165px;
}

#lens10layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 12px solid rgb(19, 19, 19);
  background: linear-gradient(
    to bottom right,
    rgb(10, 9, 10),
    rgb(55, 49, 63),
    rgb(10, 9, 10)
  );
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

#lens11layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(19, 19, 19);
  background: radial-gradient(rgb(30, 29, 37), rgb(18, 18, 23));
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

#lens12layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(17, 17, 17);
  background: radial-gradient(rgb(6, 6, 6), rgb(22, 22, 22));
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#lens13layer:hover {
  border-radius: 50%;
  width: 365px;
  height: 365px;
  z-index: 100;
  background-color: #242424;
}

#textRing {
  display: flex;
  justify-content: start;
  align-items: start;
}

#text {
  fill: rgb(171, 171, 171);
  word-spacing: 35px;
  letter-spacing: 2px;
}

#curve {
  fill: transparent;
}
